html {
  scroll-behavior: smooth;
}

body {
  background: #000000;
}

/*
=============== 
Variables
===============
*/

:root {
  --ff-primary: "Roboto", monospace;
  --ff-secondary: "Roboto flex", sans-serif;
  --spacing: 0.25rem;
  --text-color: #e0e0e0;
  --h1-font-size: 4rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 2.5rem;
  --h4-font-size: 1.2rem;
  --paragraph-font-size: 18px;
  --paragraph-line-height: 1.6;
}
p {
  font-size: var(--paragraph-font-size);
  line-height: var(--paragraph-line-height);
}
/*
=============== 
Global Styles
===============
*/
/*
=============== 
Navbar Styles
===============
*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* opacity: 0.9; */
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo img {
  width: 300px;
  height: 50px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: rgba(20, 255, 236, 1);
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  font-size: large;
  font-weight: 800;
}

.menu a:hover {
  color: white;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: rgba(20, 255, 236, 1);
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (max-width: 800px) {
  header {
    padding: 10px 20px;
    height: auto;
  }
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: black;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    opacity: 0.9;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}
@media screen and (max-width: 918px) {
  .menu a {
    font-size: medium;
    font-weight: 400;
  }
  .logo img {
    width: 170px;
    height: 50px;
  }
}
/*
=============== 
Navbar Styles
===============
*/

/*
=============== 
Hero Section
===============
*/
.hero-info {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.hero-info h2 {
  white-space: nowrap;
  text-align: center;
}
.underline {
  border: 2px solid #14ffec;
  padding: 10px;
  height: 69%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 2px;
}
.underline h1 {
  margin-bottom: 0px;
}
.underline h2 {
  color: rgba(20, 255, 236, 1);
}

h1,
h2,
h3 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  font-family: var(--ff-primary);
  color: white;
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

/* Specific underline style for h2 */
.underline h2 {
  white-space: nowrap;
}
.hero {
  height: 700px;
  margin-top: 200px;
}
.hero-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  grid-template-rows: 700px;
  justify-content: space-around;
  align-items: center;
  margin: 0px 20px 0 20px;
}

.hero-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.hero-photo {
  height: 75%;
}

.hero-photo {
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px 5px rgba(211, 211, 211, 0.5); /* Initial glow effect with Light Gray */
  }
  100% {
    box-shadow: 0 0 40px 30px rgba(211, 211, 211, 0.5); /* Increased glow effect */
  }
}
.hero-photo:hover {
  height: 75%;
  filter: grayscale(0.2);
  opacity: 0.2;
  transition: all 0.3s ease;
}

.color-frame {
  height: 500px;
  width: 400px;
  margin-top: -10%;
  margin-left: 13%;
  position: absolute;
  border: solid 1px rgba(20, 255, 236, 1);
  opacity: 0.5;
  border-radius: 2px;
}
.color-frame-2 {
  height: 500px;
  width: 400px;
  margin-top: -4%;
  margin-left: 8%;
  position: absolute;
  border: solid 5px rgba(20, 255, 236, 1);
  border-radius: 2px;
}
/*
=============== 
About Section
===============
*/

.divider {
  margin-top: 15rem;
}

.about-parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 3rem;
}

.about-container {
  background: rgba(20, 255, 236, 0.1);
  border: 2px solid rgba(20, 255, 236, 0.5);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(20, 255, 236, 0.5);
}

.about-container h3 {
  color: rgba(20, 255, 236, 1);
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.about-container p {
  color: var(--text-color);
}

h2 {
  font-family: var(--ff-primary);
  font-size: 1.5rem;
  color: white;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 30px;
  text-transform: uppercase;
  position: relative;
}

h2::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: rgba(20, 255, 236, 1);
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
}

/*
=============== 
About Section
===============
*/

/*
=============== 
Project Section
===============
*/

/*  carousel container*/
.project-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.carousel-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 20px 20px 20px 20px;
  overflow: hidden;
  position: relative;
  background: rgba(20, 255, 236, 0.1);
}
.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 20px;
}
.carousel-item {
  min-width: 32%;
  box-sizing: border-box;
  background: #5e545452;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.carousel-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
.carousel-description {
  margin-top: 10px;
  color: var(--text-color);
}
.dots {
  text-align: center;
  margin-top: 10px;
}
.dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  background: #bbb;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
}
.dot.active {
  background: #333;
}
.carousel-item h4 {
  color: rgba(20, 255, 236, 1);
}
/*
=============== 
Project Section
===============
*/

/*
=============== 
cv Section
===============
*/
.cv-resume-container {
  display: flex;
  gap: 150px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.cv,
.resume {
  padding: 50px;
  min-width: 150px;
  display: flex;
  justify-content: center;
  background: rgba(20, 255, 236, 0.1);
  border: 2px solid rgba(20, 255, 236, 0.5);
  border-radius: 20px;
}

#cv-image,
#resume-image {
  width: 100%;
  max-width: 150px;
  height: auto;
}

/*
=============== 
cv Section
===============
*/

@media screen and (max-width: 1280px) {
  .hero {
    height: 85vh;
  }
  .hero-box {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
  .hero-img {
    order: 1;
  }
  .hero-info {
    order: 2;
  }
  .underline {
    border: none;
  }
  .hero-photo:hover {
    filter: grayscale(0.2);
    opacity: 0.2;
  }
  .about-parent {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

@media (max-width: 1000px) {
  .carousel-item {
    min-width: 48%;
  }
}
@media screen and (max-width: 800px) {
  .hero-info h2 {
    white-space: unset;
    text-align: center;
  }
  .carousel-item {
    min-width: 60%;
  }
  .cv-resume-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 560px) {
  .underline h1 {
    text-align: center;
  }
  .carousel-item {
    min-width: 60%;
  }
}
@media screen and (max-width: 460px) {
  .hero {
    height: 100vh;
  }
  .color-frame {
    width: 350px;

    margin-left: 0%;
  }
  .color-frame-2 {
    width: 360px;
    margin-top: -4%;
    margin-left: 0%;
  }
  .carousel-item {
    min-width: 90%;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1rem;
  }
  .divider {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 390px) {
  .hero {
    height: 110vh;
  }
  .color-frame {
    width: 330px;
    margin-left: -2%;
  }
  .color-frame-2 {
    width: 340px;
    margin-left: -2%;
  }
  .hero-box {
    margin: 0px 10px 0 10px;
  }
  .carousel-item {
    min-width: 98%;
  }
}

#language-btn {
  padding: 5px 10px;
  border: none;
  background-color: rgba(20, 255, 236, 1);
  color: black;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
}

#language-btn:hover {
  background-color: rgba(20, 255, 236, 0.8);
}

/*
=============== 
footer Section
===============
*/

footer {
  background-image: url("assets/wave.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10px 0;
  color: black;
  text-align: center;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: end;
  margin-top: 10rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.footer-text p {
  margin: 0;
  font-size: 14px;
  /* font-weight: 800; */
}

.social-icons a {
  margin: 20px 20px;
  padding: 15px 15px;
}

.social-icons img {
  width: 35px;
  height: auto;
}
/*
=============== 
 cv, resume page
===============
*/
h1 {
  letter-spacing: var(--spacing);

  line-height: 1.25;
  font-family: var(--ff-primary);
  color: rgba(20, 255, 236, 1);
  text-align: center;
  margin: 50px 50px;
}

iframe {
  width: 90%;
  max-width: 900px;
  display: block;
  margin: 0 auto;
  border: none;
  height: 600px;
}

.cv-button {
  display: inline-block;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  background: rgba(20, 255, 236, 0.8);
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 30px 30px;
}

.cv-button:active {
  transform: translateY(1px);
}
#language-btn {
  padding: 5px 10px;
  border: none;
  background-color: rgba(20, 255, 236, 1);
  color: black;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
}

#language-btn:hover,
.cv-button:hover {
  background-color: rgba(20, 255, 236, 0.8);
}
